@model IEnumerable<CarRental.ViewModel.CarViewModel>

@{
    ViewBag.Title = "CarList";
}

<h2>Cars</h2>

<div class="card">
    <div class="card-header">
        @Html.ActionLink("Create New", "CarManage")
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <tr class="thead-light">
                <th>
                    @Html.DisplayNameFor(model => model.BranchId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FuelTypeCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarModelId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerId)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuelTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerName)
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            @Html.ActionLink("Edit", "CarManage", new { key = HelperClass.Encrypt(item.CarId) }, new { @class = "btn btn-secondary btn-sm" })
                            @Html.ActionLink("Details", "CarDetails", new { key = HelperClass.Encrypt(item.CarId) }, new { @class = "btn btn-secondary btn-sm" })
                            @Html.ActionLink("Delete", "CarDelete", new { key = HelperClass.Encrypt(item.CarId) }, new { @class = "btn btn-secondary btn-sm" })
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>    
</div>
