@model CarRental.ViewModel.CarViewModel

@{
    ViewBag.Title = "CarManage";
}

<h4>Car</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CarId)

    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Car Details</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.DropDownListFor(model => model.BranchId, Model.BranchList, "--- Select Branch ---", new { @class = "form-control form-control-sm chosen-select-single" })
                    @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CarType, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.DropDownListFor(model => model.CarType, new SelectList(new List<SelectListItem>
                                                                {
                                                                     new SelectListItem { Text = "Owner", Value = "O"},
                                                                     new SelectListItem { Text = "Fixed", Value = "F"}
                                                                 }, "Value", "Text"), new { @class = "form-control form-control-sm chosen-select-single" })
                    @Html.ValidationMessageFor(model => model.CarType, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CarModelId, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.DropDownListFor(model => model.CarModelId, Model.ModelList, "--- Select Car Modal ---", new { @class = "form-control form-control-sm chosen-select-single" })
                    @Html.ValidationMessageFor(model => model.CarModelId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FuelTypeCode, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.DropDownListFor(model => model.FuelTypeCode, Model.FuelTypeList, "--- Select Fuel Type ---", new { @class = "form-control form-control-sm chosen-select-single" })
                    @Html.ValidationMessageFor(model => model.FuelTypeCode, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CarNumber, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.EditorFor(model => model.CarNumber, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.CarNumber, "", new { @class = "text-danger" })
                </div>               

                <div class="form-group">
                    @Html.LabelFor(model => model.RegistrationNumber, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.EditorFor(model => model.RegistrationNumber, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.RegistrationNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ChasisNumber, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.EditorFor(model => model.ChasisNumber, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.ChasisNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EngineNumber, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.EditorFor(model => model.EngineNumber, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.EngineNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OwnerId, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.DropDownListFor(model => model.OwnerId, Model.OwnerList, "--- Select Owner ---", new { @class = "form-control form-control-sm chosen-select-single" })
                    @Html.ValidationMessageFor(model => model.OwnerId, "", new { @class = "text-danger" })
                </div>
                <br />
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        @Html.CheckBoxFor(model => model.CarInUse, new { @class = "form-check-input" })
                        @Html.LabelFor(model => model.CarInUse, htmlAttributes: new { @class = "" })
                    </label>
                    @Html.ValidationMessageFor(model => model.CarInUse, "", new { @class = "text-danger" })
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        @Html.CheckBoxFor(model => model.CarOnHold, new { @class = "form-check-input" })
                        @Html.LabelFor(model => model.CarOnHold, htmlAttributes: new { @class = "" })
                    </label>
                    @Html.ValidationMessageFor(model => model.CarOnHold, "", new { @class = "text-danger" })
                </div>
                
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Other Details</h4>
                <hr />
                
                <div class="form-group">
                    @Html.LabelFor(model => model.TaxStartDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker3'>
                        @Html.EditorFor(model => model.TaxStartDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.TaxStartDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TaxEndDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker4'>
                        @Html.EditorFor(model => model.TaxEndDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.TaxEndDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AuthorisationStartDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker5'>
                        @Html.EditorFor(model => model.AuthorisationStartDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.AuthorisationStartDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AuthorisationEndDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker6'>
                        @Html.EditorFor(model => model.AuthorisationEndDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.AuthorisationEndDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FitnessStartDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker7'>
                        @Html.EditorFor(model => model.FitnessStartDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.FitnessStartDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FitnessEndDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker8'>
                        @Html.EditorFor(model => model.FitnessEndDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.FitnessEndDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PermitStartDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker9'>
                        @Html.EditorFor(model => model.PermitStartDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.PermitStartDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PermitEndDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker10'>
                        @Html.EditorFor(model => model.PermitEndDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.PermitEndDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PucStartDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker11'>
                        @Html.EditorFor(model => model.PucStartDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.PucStartDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PucEndDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker12'>
                        @Html.EditorFor(model => model.PucEndDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.PucEndDate, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.InsuranceCompany, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.EditorFor(model => model.InsuranceCompany, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.InsuranceCompany, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InsurancePolicyNo, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.EditorFor(model => model.InsurancePolicyNo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.InsurancePolicyNo, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InsuranceStartDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker1'>
                        @Html.EditorFor(model => model.InsuranceStartDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.InsuranceStartDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InsuranceEndDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker2'>
                        @Html.EditorFor(model => model.InsuranceEndDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.InsuranceEndDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DriverId, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.DropDownListFor(model => model.DriverId, Model.DriverList, "--- Select Driver ---", new { @class = "form-control form-control-sm chosen-select-single" })
                    @Html.ValidationMessageFor(model => model.DriverId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FinanceBy, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.EditorFor(model => model.FinanceBy, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.FinanceBy, "", new { @class = "text-danger" })
                </div>
                                
                <div class="form-group">
                    @Html.LabelFor(model => model.ServicingSlab, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.EditorFor(model => model.ServicingSlab, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.ServicingSlab, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmiAmount, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    @Html.EditorFor(model => model.EmiAmount, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.EmiAmount, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmiDate, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                    <div class='input-group input-group-sm' id='datetimepicker13'>
                        @Html.EditorFor(model => model.EmiDate, new { htmlAttributes = new { @class = "form-control form-control-sm form-control form-control-sm-sm", aria_describedby = "sizing-addon1" } })
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.EmiDate, "", new { @class = "text-danger" })
                </div>

                <br />
                <input type="submit" value="Save" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "CarList")
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#datetimepicker2').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#datetimepicker3').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#datetimepicker4').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#datetimepicker5').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#datetimepicker6').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#datetimepicker7').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#datetimepicker8').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#datetimepicker9').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#datetimepicker10').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#datetimepicker11').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#datetimepicker12').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });

            $('#datetimepicker13').datetimepicker({
                format: 'DD/MM/YYYY',
                showClear: true
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#RegistrationNumber').keyup(function () {
                var text = $('#RegistrationNumber').val();

                $('#RegistrationNumber').val(text.toUpperCase());
            });

            $('#ChasisNumber').keyup(function () {
                var text = $('#ChasisNumber').val();

                $('#ChasisNumber').val(text.toUpperCase());
            });

            $('#EngineNumber').keyup(function () {
                var text = $('#EngineNumber').val();

                $('#EngineNumber').val(text.toUpperCase());
            });
        });
    </script>
}
