@model CarRental.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "Employee";
}

<h4>Employee</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EmployeeId)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.BranchId, Model.BranchList, "--- Select Branch ---", new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.DesignationId, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.DesignationId, Model.DesignationList, "--- Select Designation ---", new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.EmployeeCode, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.EmployeeCode, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.EmployeeCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.ResidentiallAddress, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.ResidentiallAddress, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.ResidentiallAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.NativeAddress, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.NativeAddress, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.NativeAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.ResidentialTelephone, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.ResidentialTelephone, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.ResidentialTelephone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.JoiningDate, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            <div class='input-group input-group-sm' id='datetimepicker1'>
                                @Html.EditorFor(model => model.JoiningDate, new { htmlAttributes = new { @class = "form-control form-control-sm", aria_describedby = "sizing-addon1" } })
                                <span class="input-group-addon" id="sizing-addon1">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.LeavingDate, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            <div class='input-group input-group-sm' id='datetimepicker2'>
                                @Html.EditorFor(model => model.LeavingDate, new { htmlAttributes = new { @class = "form-control", aria_describedby = "sizing-addon2" } })
                                <span class="input-group-addon" id="sizing-addon2">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.LeavingDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.BasicAmount, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.BasicAmount, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.BasicAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.HraAmount, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.HraAmount, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.HraAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.CcAmount, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.CcAmount, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.CcAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            @Html.LabelFor(model => model.Bank, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                        </div>
                        <div class="col-sm-8">
                            <div class="">
                                <label class="">
                                    @Html.CheckBoxFor(model => model.Bank, new { @class = "" })
                                    @Html.ValidationMessageFor(model => model.Bank, "", new { @class = "text-danger" })
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                </div>
            </div>
        </div>
    </div>    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY'
            });
            $('#datetimepicker2').datetimepicker({
                format: 'DD/MM/YYYY'
            });
        });
    </script>
}


