@model IEnumerable<CarRental.ViewModel.EmployeeViewModel>

@{
    ViewBag.Title = "EmployeeList";
}

<h2>Employees</h2>

<div class="card">
    <div class="card-header">
        @Html.ActionLink("Create New", "EmployeeManage")
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <tr class="thead-light">
                <th>
                    @Html.DisplayNameFor(model => model.BranchId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DesignationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResidentiallAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NativeAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResidentialTelephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JoiningDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeavingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BasicAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HraAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CcAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesignationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResidentiallAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NativeAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResidentialTelephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JoiningDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeavingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BasicAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HraAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CcAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            @Html.ActionLink("Edit", "EmployeeManage", new { key = HelperClass.Encrypt(item.EmployeeId) }, new { @class = "btn btn-secondary btn-sm" })
                            @Html.ActionLink("Details", "EmployeeDetails", new { key = HelperClass.Encrypt(item.EmployeeId) }, new { @class = "btn btn-secondary btn-sm" })
                            @Html.ActionLink("Delete", "EmployeeDelete", new { key = HelperClass.Encrypt(item.EmployeeId) }, new { @class = "btn btn-secondary btn-sm" })
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>    
</div>


