@model IEnumerable<CarRental.ViewModel.PartyViewModel>

@{
    ViewBag.Title = "PartyList";
}
<h2>Parties</h2>

<div class="card">
    <div class="card-header">
        @Html.ActionLink("Create New", "PartyManage")
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <tr class="thead-light">
                <th>
                    @Html.DisplayNameFor(model => model.StatusCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GstNumber)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GstNumber)
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            @Html.ActionLink("Edit", "BranchManage", new { key = HelperClass.Encrypt(item.PartyId) }, new { @class = "btn btn-secondary btn-sm" })
                            @Html.ActionLink("Details", "BranchDetails", new { key = HelperClass.Encrypt(item.PartyId) }, new { @class = "btn btn-secondary btn-sm" })
                            @Html.ActionLink("Delete", "BranchDelete", new { key = HelperClass.Encrypt(item.PartyId) }, new { @class = "btn btn-secondary btn-sm" })
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
